# Django Core Settings
DEBUG=False
SECRET_KEY=4m#Q7!vL9@xR2$kT8^pN6&zW3*Ha4
ALLOWED_HOSTS=.onrender.com,127.0.0.1,localhost

# Database (Leave empty for SQLite, or provide Render PostgreSQL URL)
DATABASE_URL=postgresql://neondb_owner:npg_Xe7uO2tvAPVN@ep-blue-sunset-b36vx7mh-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Initial Dealer Admin Credentials (Optional: automatically created on first deploy)
DEALER_USERNAME=Yash
DEALER_PASSWORD=yash@1307
